@page
@model Authorizattion_exercise.Pages.Admin.DisplayModel
@{
    ViewData["Title"] = "Display";
}

<div>
    <h2>Display all members</h2>

    @if (ViewData["data"] != null)
    {
        @foreach (var item in ViewData["data"] as IList<string>)
        {
            @item
        }





    }
    else
    {

        <h2>No Data</h2>
    }


</div>