@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <p><a href="https://learn.microsoft.com/en-us/aspnet/core/tutorials/razor-pages/model?view=aspnetcore-6.0&tabs=visual-studio">Scafolding Razor pages </a></p>

    <p><a href="https://learn.microsoft.com/en-us/aspnet/core/security/authorization/secure-data?view=aspnetcore-6.0">Create an ASP.NET Core web app with user data protected by authorization</a></p>

    <p>use this seed path  PM> dotnet user-secrets set SeedUserPW /"<PW>/" </p>


    https://github.com/dotnet/AspNetCore.Docs/blob/main/aspnetcore/security/authorization/secure-data/samples/final6/Data/SeedData.cs



    <p><a href=" https://github.com/dotnet/AspNetCore.Docs/blob/main/aspnetcore/security/authorization/secure-data/samples/final6/Data/SeedData.cs">The SeedData class goes in the Data folder</a></p>


    https://github.com/dotnet/AspNetCore.Docs/tree/main/aspnetcore/security/authorization/secure-data/samples/final6/Authorization

    <p><a href="  https://github.com/dotnet/AspNetCore.Docs/tree/main/aspnetcore/security/authorization/secure-data/samples/final6/Authorization">Create an Authorization folder, and add in the classes</a></p>


    <p>Check that you do not have "using Microsoft.VisualBasic;" as Constantscan be using that by mistake. You need to use </p>

</div>
