@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h4 class="display-4">Create an ASP.NET Core web app with user data protected by authorization</h4>


    <p><a href="https://learn.microsoft.com/en-us/aspnet/core/tutorials/razor-pages/model?view=aspnetcore-6.0&tabs=visual-studio">Scafolding Razor pages </a></p>

    <p><a href="https://learn.microsoft.com/en-us/aspnet/core/security/authorization/secure-data?view=aspnetcore-6.0">Create an ASP.NET Core web app with user data protected by authorization</a></p>

    <p>use this seed path  <b>PM> dotnet user-secrets set SeedUserPW "Pa$$w0rd"</b> </p>


    https://github.com/dotnet/AspNetCore.Docs/blob/main/aspnetcore/security/authorization/secure-data/samples/final6/Data/SeedData.cs



    <p><a href=" https://github.com/dotnet/AspNetCore.Docs/blob/main/aspnetcore/security/authorization/secure-data/samples/final6/Data/SeedData.cs">The SeedData class goes in the Data folder</a></p>


    https://github.com/dotnet/AspNetCore.Docs/tree/main/aspnetcore/security/authorization/secure-data/samples/final6/Authorization

    <p><a href="  https://github.com/dotnet/AspNetCore.Docs/tree/main/aspnetcore/security/authorization/secure-data/samples/final6/Authorization">Create an Authorization folder, and add in the classes</a></p>


    <p>Check that you do not have "using Microsoft.VisualBasic;" as Constants can be using that by mistake.  </p>


    <p>You need to use <a href="https://github.com/dotnet/AspNetCore.Docs/blob/main/aspnetcore/security/authorization/secure-data/samples/final6/Pages/Contacts/DI_BasePageModel.cs">Create the Dependency Injection of the Authorization services class in the Contacts Pages folder, this will be added to the CRUD pages</a></p>


    <p><a href="  https://github.com/dotnet/AspNetCore.Docs/blob/main/aspnetcore/security/authorization/secure-data/samples/final6/Pages/Contacts/Create.cshtml.cs">Update the codebehind on each of the Contacts CRUD pages</a></p>

    <p><a href="https://code-maze.com/identity-asp-net-core-project/">Introducing Identity to the ASP.NET Core Project</a></p>
</div>
